<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bc.capital">

    <!-- 添加必要的权限 -->
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
     
    <!-- 蓝牙分享所需的权限 -->
     
    <uses-permission android:name="android.permission.BLUETOOTH" />
     
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
     
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- 指纹解锁 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.sub.VerificationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.sub.LoanActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.NoviceActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.InviteActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.LoginActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.RegisterActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.ForgetPwdActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.PhotoActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.AboutActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.AnnouncementActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.ContactActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.SystemActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.CustomerActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.AboutUsActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.MessageActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.FingerprintActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.GestureActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.GestureEditActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.GestureVerifyActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.MainActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.MyAccountActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.RechargeActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.WithdrawActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.MyLoanActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.ToBeAcceptedActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.InvestmentRecordActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.TransferRecordActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.LoanRecordActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.TransactionRecordActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.MyMoneyNumberActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.sub.ImageUrlActivity" android:screenOrientation="portrait" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                 
                <data android:scheme="tencent100371282" />
                 
                <action android:name="android.intent.action.VIEW" />
                 
                <category android:name="android.intent.category.BROWSABLE" />
                 
                <category android:name="android.intent.category.DEFAULT" />
                 
            </intent-filter>
             
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
             
            <intent-filter>
                 
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                 
                <category android:name="android.intent.category.DEFAULT" />
                 
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name="wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
         
    </application>

</manifest>